{%load static%}
<footer>
    <div class="footerCol">
        <div class="container">
            <ul class="socialCol">
                <li><a href="https://www.youtube.com/watch?v=0oSsLbh_Kv4&t=1926s"><img src="{% static 'images/fb.svg' %}"alt='images'></a></li>
                <li><a href="javascript:void(0)"><img src="{% static 'images/insta.svg' %}" alt='images'></a></li>
                <li><a href="javascript:void(0)"><img src="{% static 'images/twitter.svg'%}" alt='images'></a></li>
                <li><a href="javascript:void(0)"><img src="{% static 'images/linkedin.svg' %}" alt='images'></a></li>
                </ul>
                      
            </div>
    </div>
    </footer>